.root:not(label) {
  min-width: 3.75rem;
  max-width: 100%;
  height: 2.5rem;
  padding: 0 .625rem;
  color: black;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 0;
  background-color: white;
}

.wide {
  width: 100%;
}

.readOnly:not(label) {
  border-color: hsl(0, 0%, 90%);
}

.disabled:not(label) {
  opacity: .5;
}
