# node_modules are ignored by default, however...
# @link https://github.com/facebook/create-react-app/issues/8936#issuecomment-674060591
node_modules

# Testing
/coverage

# Development
/public

# Production
/build
/storybook-static
