# For more about ignoring files, see:
# https://help.github.com/articles/ignoring-files/
# https://www.gitignore.io/

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/storybook-static

# Environments
.env.local
.env.test.local
.env.development.local
.env.production.local

# Caches
.eslintcache
.stylelintcache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-*

# Miscellaneous
.DS_Store
