/*----------------------------------------------------------------------------*/
/* base
/*----------------------------------------------------------------------------*/

.root {
  line-height: 1;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-style: none;
}

.button {
  padding: 0;
}

/*----------------------------------------------------------------------------*/
/* theme
/*----------------------------------------------------------------------------*/

.primary {
  background-color: cadetblue;
}

.secondary {
  background-color: lightgrey;
}

.tertiary {
  background-color: orange;
}

.danger {
  background-color: red;
}

.warning {
  background-color: goldenrod;
}

.success {
  background-color: green;
}

.info {
  background-color: blue;
}

.primary,
.tertiary,
.danger,
.warning,
.success,
.info {
  color: white;
}

.secondary {
  color: black;
}

.anchor.primary,
.anchor.secondary,
.anchor.tertiary,
.anchor.danger,
.anchor.warning,
.anchor.success,
.anchor.info {
  text-decoration: none;
}

/*----------------------------------------------------------------------------*/
/* rounded
/*----------------------------------------------------------------------------*/

.rounded {
  border-radius: .25rem;
}

/*----------------------------------------------------------------------------*/
/* wide
/*----------------------------------------------------------------------------*/

.wide {
  width: 100%;
}

/*----------------------------------------------------------------------------*/
/* padding, spacing
/*----------------------------------------------------------------------------*/

.padded {
  height: 2.5em;
  padding: 0 1em;
}

.iconBefore,
.iconAfter {
  flex-shrink: 0;
}

.content:not(:first-child) {
  margin-left: .5em;
}

.content:not(:last-child) {
  margin-right: .5em;
}

.content:empty {
  display: none;
}

.iconAndText .wrapper {
  display: inherit;
  flex-wrap: inherit;
  justify-content: inherit;
  align-items: inherit;
}

.iconAndText .iconBefore,
.iconAndText .iconAfter {
  top: 0; /* reset <Icon> styles  */
}

.iconOnly.padded {
  min-width: 2.5em;
  height: 2.5em;
  padding: 0;
}

.iconOnly .content {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
