@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.root {
  position: relative;
  top: -.125em;
  display: inline-block;
  vertical-align: middle;
  width: .875em;
  height: .875em;
  border: .125em solid hsla(0, 0%, 0%, .1);
  border-top-color: hsl(0, 0%, 0%);
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

.inverse {
  border-color: hsla(0, 0%, 100%, .25);
  border-top-color: hsl(0, 0%, 100%);
}

.block {
  top: auto;
  display: block;
  margin: auto;
}

.text {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
